<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMonitorScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HMonitorScheduler.Properties.Settings.HMonitorDataConnection"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=HMonitorData;Persist Security Info=True;User ID=HMuser_login;Password=pLogin12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <HMonitorScheduler.Properties.Settings>
            <setting name="ArduinoPlinPort" serializeAs="String">
                <value>COM7</value>
            </setting>
        </HMonitorScheduler.Properties.Settings>
    </applicationSettings>
</configuration>